/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Open+Sans:wght@400;500;600&family=Signika:wght@400;500;600&family=Ubuntu:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif  text-xl text-slate-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-pink-500 focus-visible:ring-4 focus-visible:ring-pink-500 dark:text-slate-100;
  }

  h1,
  h2,
  h3 {
    @apply font-sans;
  }

  h1 {
    @apply mb-2 text-5xl;
  }

  h2 {
    /* @apply mb-2 text-3xl; */
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
}

@layer components {
  .button {
    @apply rounded-md bg-blue-500 px-2 py-1 text-sm font-semibold hover:bg-blue-600 active:bg-blue-700;
  }

  .link {
    @apply block transform font-semibold transition-colors duration-200 hover:text-blue-500 focus:outline-none dark:hover:text-blue-500 dark:focus:outline-none;
  }

  /* styled link with that adds background on hover */
  .styled-link {
    @apply bg-gradient-to-b from-blue-900 to-blue-800 bg-[length:4px_3px] bg-left-bottom bg-repeat-x px-1 font-semibold transition-all hover:bg-[length:4px_82px] hover:text-slate-100;
  }

  /* these class cleans up SocialIcons.tsx */
  .social-icon {
    @apply text-slate-900 transition hover:text-blue-500 dark:text-slate-100 dark:hover:text-blue-500 lg:mr-4;
  }

  .social-icon svg {
    @apply h-6 w-6 hover:fill-blue-500;
  }

  .social-icon.polywork:hover svg rect,
  .social-icon.polywork:hover svg path {
    @apply fill-blue-500;
  }

  .card-grid {
    @apply grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-3;
  }

  .card {
    @apply mx-auto max-w-2xl overflow-hidden rounded-lg bg-white shadow-md dark:bg-gray-800;
  }

  .article {
    @apply mx-auto max-w-5xl;
  }

  /* code snippets and syntax highlighting */
  .article a {
    @apply text-blue-500 hover:text-blue-600 dark:text-blue-500 dark:hover:text-blue-600;
  }

  .article h1 {
    @apply mb-2;
  }

  .article h2 {
    @apply mb-3;
  }

  .article ul {
    @apply mb-6 pl-3;
  }

  .article p {
    @apply mb-6;
  }

  /* inline code */
  .article p code {
    @apply bg-slate-900 px-2 py-1 font-terminal text-pink-500;
  }

  .article blockquote {
    @apply ml-3 border-l-4 border-blue-500 pl-3 italic text-slate-400;
  }

  .article blockquote.ltag__twitter-tweet {
    @apply relative m-0 mb-6 mr-auto max-w-xl cursor-pointer rounded-md border-none bg-slate-100 p-4 font-serif shadow-md;
  }

  .article blockquote .ltag__twitter-tweet__header {
    @apply h-14;
  }

  .article
    blockquote.ltag__twitter-tweet
    .ltag__twitter-tweet__header
    .ltag__twitter-tweet__profile-image {
    @apply absolute m-0 h-10 min-h-[36px] w-10 rounded-full bg-slate-50;
    top: calc(0.3vw + 13px);
    left: calc(0.3vw + 13px);
  }

  .article
    blockquote.ltag__twitter-tweet
    .ltag__twitter-tweet__header
    .ltag__twitter-tweet__full-name {
    @apply absolute text-base font-bold text-slate-900;
    left: calc(0.3vw + 57px);
    top: calc(0.3vw + 13px);
  }

  .article
    blockquote.ltag__twitter-tweet
    .ltag__twitter-tweet__header
    .ltag__twitter-tweet__username {
    @apply absolute text-[14px] text-slate-400;
    left: calc(0.3vw + 57px);
    top: calc(0.3vw + 33px);
  }

  .article
    blockquote.ltag__twitter-tweet
    .ltag__twitter-tweet__header
    .ltag__twitter-tweet__twitter-logo {
    @apply absolute top-5 left-auto;
    right: calc(0.3vw + 8px);
  }

  .article blockquote.ltag__twitter-tweet .ltag__twitter-tweet__body {
    @apply text-base font-medium not-italic leading-6 text-slate-900;
  }

  .article blockquote.ltag__twitter-tweet .ltag__twitter-tweet__date {
    @apply mt-1 text-[14px] text-slate-400;
  }

  .article blockquote.ltag__twitter-tweet .ltag__twitter-tweet__actions {
    @apply flex items-center space-x-2 text-sm text-slate-400;
  }

  .article blockquote.ltag__twitter-tweet .ltag__twitter-tweet__actions a img {
    @apply h-5 w-5;
  }

  .article .hljs.language-plaintext::before {
    content: '📁 ';
  }

  /* the code blocks */
  .article .hljs {
    @apply mb-6 rounded-md bg-slate-900 p-4 !important;
  }

  /* the file name before the code block */
  .article .hljs.language-plaintext {
    @apply mb-0 bg-transparent pl-0 font-terminal text-pink-500 !important;
  }

  .article .js-actions-panel {
    @apply hidden;
  }
}
